/* header */

.header__hamburger{ 
    background: none;
}

.header{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 2.1rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--black);
}

/* logo */

.header__logo{
    font-family: "Antonio", sans-serif;
    font-size: 2.8rem;
    letter-spacing: -1.05px;
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
}

/* navigation */

.header__nav{
    position: fixed;
    transform: translateX(100%);

    background-color: var(--black);
    z-index: 100;
    height: 100%;
    width: 100%;

    opacity: 0;

    transition: linear 0.3s;
}

.nav-expanded{
    transform: translateX(0%);
    opacity: 1;
}

.nav__list{
    list-style: none;
    padding: 2.4rem;
}

.nav__link{
    display: flex;
    align-items: center;
    gap: 2.4rem;

    color: white;
    text-decoration: none;
    font-family: "Spartan", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.36px;

    height: 6.5rem;
}

.nav__item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__item:last-of-type{
    border-bottom: 1px solid transparent;
}

.nav__indicator{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-accent);
}

.nav__icon{
    margin-left: auto;
}

@media screen and (min-width: 768px){
    .header__hamburger{ 
        display: none;
    }

    .header{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 3.2rem 0;
    }

    .header__nav{
        position: relative;
        opacity: 1;
        transform: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .nav__indicator{
        display: none;
    }

    .nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.3rem;
        padding: 0 5.2rem;
    }

    .nav__text{
        font-family: "Spartan", sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        letter-spacing: 1px;
        line-height: 25px;
    }

    .nav__icon{
        display: none;
    }
}

/* buttons */

.button__number,
.button__extra-text{
    display: none;
}

.main__buttons{
    border-top: 1px solid hsla(0, 0%, 59%, 0.3);
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -2.4rem;
    padding: 0 2.4rem;
}


.main__button{
    background: none;
    font-family: "Spartan", sans-serif;
    font-size: 1.1rem;
     
    letter-spacing: 1.93px;
    color: var(--white);
    opacity: 0.5;

    --border-width: 4px;
    border-bottom: var(--border-width) solid transparent;
    padding-top: 1.3rem;
    padding-bottom: calc(1.3rem - var(--border-width));

    transition: opacity 0.3s, border-color 0.3s;
}

.main__button:hover{
    opacity: 1;
    border-color: var(--color-accent);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .button__number,
    .button__extra-text{
        display: inline;
    }

    .main__buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        border: 0;
        opacity: 1;
        
    }

    .main__button{
        background-color: var(--black);
        color: var(--white);
        outline: 1px solid hsla(0, 0%, 85%, 0.2);
        text-align: left;
        padding: 0.8rem 2rem;

        width: 100%;
        opacity: 1;
        font-weight: 400;
        border: 0;
    }

    .button__number{
        padding-right: 1.4rem;
        opacity: 0.5;
    }

    .main__button:hover{
        background-color: var(--color-accent);
        cursor: pointer;
    }

    .main__button:active{
        background-color: var(--color-accent);
    }

    .main__button .button-number{
        color: var(--grey-400);
    }
}

/* properties */

.properties-list__item{
    background-color: transparent;
    outline: 1px solid hsla(0, 0%, 85%, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.4rem;
}

.properties-list__desc{
    opacity: 0.5;
}

/* main content */

.planet-info__desc{
    font-family: "Spartan", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 22px;

    padding-bottom: 3.2rem;
}

.planet-info__source{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .4rem;

   padding-bottom: 2.8rem;
}

.planet-info__source{
    font-family: "Spartan", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    opacity: 0.5;
}

.planet-info__link{
    font-weight: 500;
    color: var(--white);
}

.planet-info__icon-source{
    display: inline;
}

@media screen and (min-width: 768px) {
    .planet-info__source{
        display: block;
    }

    .properties-list__item{
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
}




