.header{
    padding: 2.1rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--black);
}

/* logo */

.header__logo{
    font-family: "Antonio", sans-serif;
    font-size: 2.8rem;
    letter-spacing: -1.05px;
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
}

/* buttons */

.button__number,
.button__extra-text{
    display: none;
}

.main__buttons{
    border-top: 1px solid hsla(0, 0%, 59%, 0.3);
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem;
}

.main__button{
    background: none;
    font-family: "Spartan", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1.93px;
    color: var(--white);
    opacity: 0.5;

    --border-width: 4px;
    border-bottom: var(--border-width) solid transparent;
    padding-top: 1.3rem;
    padding-bottom: calc(1.3rem - var(--border-width));

    transition: opacity 0.3s, border-color 0.3s;
}

.main__button:hover{
    opacity: 1;
    border-color: var(--color-accent);
}

@media screen and (min-width: 768px) {
    .button{
        background-color: var(--black);
        color: var(--white);
        outline: 1px solid hsla(0, 0%, 85%, 0.2);
        display: flex;
        justify-content: flex-start;
        gap: 2.8rem;
        padding: 1.2rem 2.8rem;

        width: 35rem;
    }

    .button:hover{
        background-color: hsla(0, 0%, 85%, 0.2);
        cursor: pointer;
    }

    .button:active{
        background-color: var(--color-accent);
    }

    .button .button-number{
        color: var(--grey-400);
    }
}

/* properties */

.properties-list__item{
    background-color: transparent;
    outline: 1px solid hsla(0, 0%, 85%, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.4rem;
}

.properties-list__desc{
    opacity: 0.5;
}


/* navigation */

.header__nav{
    position: fixed;
    transform: translateX(100%);

    background-color: var(--black);
    z-index: 100;
    height: 100%;
    width: 100%;

    opacity: 0;

    transition: linear 0.3s;
}

.nav-expanded{
    transform: translateX(0%);
    opacity: 1;
}

.nav__list{
    list-style: none;
    padding: 2.4rem;
}

.nav__link{
    display: flex;
    align-items: center;
    gap: 2.4rem;

    color: white;
    text-decoration: none;
    font-family: "Spartan", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.36px;

    height: 6.5rem;
}

.nav__item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__item:last-of-type{
    border-bottom: 1px solid transparent;
}

.nav__indicator{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-accent);
}

.nav__icon{
    margin-left: auto;
}


  /* <button class="button">
    <h3><span class="button-number">01</span></h3><h3><span>BUTTON</span></h3>
  </button> */




