@font-face {
    font-family: "Antonio";
    src: url("../../public/assets/fonts/Antonio/Antonio-VariableFont_wght.ttf");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Spartan";
    src: url("../../public/assets/fonts/Spartan/LeagueSpartan-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}