body{
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 25px;

    background-color: var(--black);
    color: var(--white);

    background-image: url("../../public/assets/images/background-stars.svg");
}