@import url("./fonts.css");
@import url("./variables.css");

@import url("./reset.css");
@import url("./typography.css");
@import url("./general.css");

@import url("./components.css");
@import url("./utilities.css");

/* header */

.header__hamburger{ 
    background: none;
}

/* image */

.main__img-container{
    display:  flex;
    align-items: center;
    justify-content: center;
}

.main__planet-image{
    transform: scale(40%);
}

/* text */

.main__planet-info{
    text-align: center;
    padding: 0 2.4rem;
}

.planet-info__desc{
    font-family: "Spartan", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 22px;

    padding-bottom: 3.2rem;
}

.planet-info__source{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .4rem;

   padding-bottom: 2.8rem;
}

.planet-info__source{
    font-family: "Spartan", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    opacity: 0.5;
}

.planet-info__link{
    font-weight: 500;
    color: var(--white);
}

.planet-info__icon-source{
    display: inline;
}

/* properties */

.main__properties-list{
    padding: 0 2.4rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    padding-bottom: 4.7rem;
}