@import url("./fonts.css");
@import url("./variables.css");

@import url("./reset.css");
@import url("./typography.css");
@import url("./general.css");

@import url("./planets-scale.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./utilities.css");