/* main */

.main{
    padding: 0 2.4rem;
}

@media screen and (min-width: 768px) {
    .main{
        display: grid;
        grid-template-areas: 
        "img img"
        "text-desc buttons"
        "properties properties";

        column-gap: 6.9rem;
        grid-template-columns: 1.2fr 1fr;

        padding: 0 3.9rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .main{
        display: grid;
        grid-template-areas: 
        "img text-desc"
        "img buttons"
        "properties properties";
        column-gap: 0rem;
        grid-template-columns: 2.2fr 1fr;
        grid-template-rows: min-content min-content auto;
        padding: 0 16.5rem;
        padding-top: 2rem;
    }
}

/* image */

.main__img-container{
    position: relative;
    display:  flex;
    align-items: flex-end;
    justify-content: center;

    height: 280px;
    width: 100%;
}

.main__planet-image{
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: scale(1);

    transition: transform 0.3s ease-in-out;
}

.main__planet-geology-image{
    position: absolute;
    width: auto;
    height: 100px;
    top: 60%;
}


@media screen and (min-width: 768px) {
    .main__img-container{
        margin-top: 2rem;
        height: 422px;
        width: 100%;
    }

    .main__planet-geology-image{
        height: 150px;
    }
}

@media screen and (min-width: 1440px) {
    .main__img-container{
        height: 666px;
        width: 100%;

        margin: 0;
        justify-content: center;
        
    }

    .main__planet-geology-image{
        height: 199px;
    }
}

/* main content */

@media screen and (min-width: 768px) {
    .main__buttons{
        grid-area: buttons;
        align-self: start;
    }

    .main__img-container{
        grid-area: img;
    }

    .main__planet-info{
        grid-area: text-desc;
        align-self: end;
        padding-top: 2rem;
    }

    .main__properties-list{
        grid-area: properties;
    }
}