/* main */

.main{
    padding: 0 2.4rem;
}

/* image */

.main__img-container{
    display:  flex;
    align-items: center;
    justify-content: center;
}

.main__planet-image{
    transform: scale(40%);
}

@media screen and (min-width: 768px) {
    .main__planet-image{
        transform: scale(63%);
    }

    .main__img-container{
        padding-top: 9.5rem;
        padding-bottom: 6rem;
    }

}

@media screen and (min-width: 1440px) {
    .main__planet-image{
        transform: scale(100%);
    }

}

/* text */

.main__planet-info{
    text-align: center;
}

@media screen and (min-width: 768px) {
    .main{
        padding: 0 3.9rem;
    }

    .main__planet-info{
        text-align: left;
    }

    .main{
        display: grid;
        grid-template-areas: 
        "img img"
        "text-desc buttons"
        "properties properties";

        column-gap: 6.9rem;
        grid-template-columns: 1fr 1fr;
    }

    .main__buttons{
        grid-area: buttons;
    }

    .main__img-container{
        grid-area: img;
    }

    .main__planet-info{
        grid-area: text-desc;
    }

    .main__properties-list{
        grid-area: properties;
    }
    
}

@media screen and (min-width: 1440px) {
    .main{
        display: grid;
        grid-template-areas: 
        "img text-desc"
        "img buttons"
        "properties properties";
        column-gap: 0;
        grid-template-columns: 2.4fr 1fr;

        padding: 0 16.5rem;
        padding-top: 12.6rem;
    }

}

/* properties */

.main__properties-list{
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

@media screen and (min-width: 768px) {
    .main__properties-list{
        flex-direction: row;
        gap: 1.1rem;
        padding: 0;
    }

    .properties-list__item{
        flex: 1;
        gap: 0.6rem;
    }
}

@media screen and (min-width: 1440px) {
    .main__properties-list{
        padding-top: 8.7rem;
        gap: 3rem;
    }

    .properties-list__item{
        gap: 1.2rem;
    }
}


