.main__planet-image{
    --design-dimensions-mercury: 111;
    --design-dimensions-venus: 154;
    --design-dimensions-earth: 173;
    --design-dimensions-mars: 129;
    --design-dimensions-jupiter: 224;
    --design-dimensions-saturn: 256;
    --design-dimensions-uranus: 176;
    --design-dimensions-neptune: 173;

    --img-container-size: 280;
}

@media screen and (min-width: 768){
    .main__planet-image{
        --design-dimensions-mercury: 184;
        --design-dimensions-venus: 253;
        --design-dimensions-earth: 285;
        --design-dimensions-mars: 213;
        --design-dimensions-jupiter: 369;
        --design-dimensions-saturn: 422;
        --design-dimensions-uranus: 290;
        --design-dimensions-neptune: 285;
    
        --img-container-size: 422;
    }
}

@media screen and (min-width: 1440){
    .main__planet-image{
        --design-dimensions-mercury: 290;
        --design-dimensions-venus: 400;
        --design-dimensions-earth: 450;
        --design-dimensions-mars: 336;
        --design-dimensions-jupiter: 582;
        --design-dimensions-saturn: 666;
        --design-dimensions-uranus: 458;
        --design-dimensions-neptune: 450;
    
        --img-container-size: 666;
    }
}


.main__planet-image[src*="mercury"]{
    transform: 
    scale(calc(
            var(--design-dimensions-mercury) / 
            var(--img-container-size)));

}

.main__planet-image[src*="venus"]{
    transform: 
    scale(calc(
            var(--design-dimensions-venus) / 
            var(--img-container-size)));
}

.main__planet-image[src*="earth"]{
    transform: 
    scale(calc(
            var(--design-dimensions-earth) / 
            var(--img-container-size)));
}

.main__planet-image[src*="mars"]{
    transform: 
    scale(calc(
            var(--design-dimensions-mars) / 
            var(--img-container-size)));
}

.main__planet-image[src*="jupiter"]{
    transform: 
    scale(calc(
            var(--design-dimensions-jupiter) / 
            var(--img-container-size)));
}

.main__planet-image[src*="saturn"]{
    transform: 
    scale(calc(
            var(--design-dimensions-saturn) / 
            var(--img-container-size)));
}

.main__planet-image[src*="uranus"]{
    transform: 
    scale(calc(
            var(--design-dimensions-uranus) / 
            var(--img-container-size)));
}

.main__planet-image[src*="neptune"]{
    transform: 
    scale(calc(
            var(--design-dimensions-neptune) / 
            var(--img-container-size)));
}



